<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid app-shell">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav align-items-lg-center gap-lg-2">
        <a class="nav-link" href="/listings">Explore</a>
        <% if (currUser) { %>
          <span class="nav-link disabled user-chip">Hi, <%= currUser.username %></span>
        <% } %>
      </div>
      <div class="navbar-nav ms-lg-auto">
        <form class="d-flex search-form" role="search" action="/listings" method="GET">
          <input
            class="form-control search-inp"
            type="search"
            name="q"
            value="<%= typeof currentSearch !== 'undefined' ? currentSearch : '' %>"
            placeholder="Search destinations, countries, cities..."
            aria-label="Search destinations"
          >
          <% if (typeof currentCategory !== "undefined" && currentCategory) { %>
            <input type="hidden" name="category" value="<%= currentCategory %>">
          <% } %>
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Search</span>
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-lg-3 nav-actions">
        <a class="nav-link" href="/listings/new">Rent Your Home</a>
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
